<ul class="schedule">
  <% schedule.forEach((game) => { %>
  <li id="<%= game.id %>" class="game">
    <% if (group === "admin") {%>
    <button class="btn btn--delete-game" onclick="deleteGame('<%= game.id %>')">
      <ion-icon name="close-outline"></ion-icon>
    </button>
    <%} %>
    <div class="game-info">
      <h3 class="game-teams">
        <%= game.team1Name %> <% if (game.score1) { %> <%= game.score1 %> - <%=
        game.score2 %> <% } else { %> VS <% } %> <%= game.team2Name %>
      </h3>
      <p class="game-date"><%= game.date %></p>
    </div>
    <% if (group === "admin") {%>
    <a class="btn btn--edit-game" href="/admin/editGame/?gameId=<%= game.id %>">
      <ion-icon name="create-outline"></ion-icon>
    </a>
    <%} %>
  </li>
  <% }) %>
</ul>
