<ul class="schedule">
  <% schedule.forEach((game) => { %>
  <li class="game">
    <div class="game-info">
      <h3 class="game-teams">
        <%= game.team1Name %> <% if (game.team1Score) { %> <%= game.team1Score
        %> - <%= game.team2Score %> <% } else { %> VS <% } %> <%= game.team2Name
        %>
      </h3>
      <p class="game-date"><%= game.date %></p>
    </div>
    <% if (group === "admin") {%>
    <button class="btn btn--edit-game">
      <ion-icon name="create-outline"></ion-icon>
    </button>
    <button class="btn btn--confirm-editing hidden">
      <ion-icon name="checkmark-outline"></ion-icon>
    </button>
    <%} %>
  </li>
  <% }) %>
</ul>
